.myAccount .header{
    width: 100%;
    height: .44rem;
    line-height: .48rem;
    background: rgba(0,0,51);
    overflow: hidden;
    text-align: center;
    font-size: .16rem;
    color: rgba(230,230,230);
}
.myAccount .arrow {
    width: .15rem;
    height: .15rem;
    position: absolute;
    left: 0.15rem;
    top: .15rem;
}

.myAccount .content{
    width: 100%;
    height: 100%;
}
.myAccount .content div.container{
    border-bottom: 1px solid rgba(255,255,255,.2);
    height: .44rem;
    padding: 0 5%;
    font-size: 14px;
}

.myAccount .item-left{
    width: 0.83rem;
    line-height: .42rem;
    text-align: left;
    color: rgba(204,204,204);
}
.myAccount .item-right{
    width: 2.35rem;
    text-align: left;
    line-height: .42rem;
    color: rgba(255,255,255);
}
.myAccount .content div.attr{
    border-bottom: 1px solid rgba(255,255,255,.2);
    height: .6rem;
    padding: 0 5%;
    /* width: 95%;
    margin: .2rem auto; */
    font-size: 14px;  
}
.myAccount .attr .item-right{
    width: 2.35rem;
    text-align: left;
    padding-top: .05rem;
    line-height: .25rem;
    color: rgba(255,255,255);
}



