.repairs .header{
    width: 100%;
    height: .44rem;
    line-height: .48rem;
    background: rgba(0,0,51);
    overflow: hidden;
    text-align: center;
    font-size: .16rem;
    color: rgba(230,230,230);
}
.repairs .arrow {
    width: .15rem;
    height: .15rem;
    position: absolute;
    left: 0.15rem;
    top: .15rem;
}

.repairs .container{
    width:95%;
    margin:.2rem auto;
    font-size: .16rem;
    color: rgba(230,230,230);
}

.repairs .item{
    overflow: hidden;
    margin-bottom: .12rem;
}
.repairs .item-text{
    float: left;
    text-align: right;
    width: 24%;
    height: .44rem;
    line-height: .44rem;
}
.repairs .inp-box{
    float: left;
    width: 65.5%;
    margin-left: 3%;
    height: .44rem;
    line-height: .44rem;
    border: 1px solid rgba(204,204,204,.7);
    background-color: rgba(12,12,22,.7);
    border-radius: .05rem;
    padding: 0 .12rem;
    font-size: .16rem;
    color: rgba(255,255,255);
}
.repairs textarea.inp-box{
    height: .9rem;
    padding: .05rem .12rem;
    line-height: .26rem;
    text-align: justify;
}
.repairs .container .con-footer{
    width: 92%;
    margin: .55rem auto;
    overflow: hidden;
    height: .4rem;
    font-size: .18rem;
    color: rgba(255,255,255);
}
.repairs .com-btn{
    width: 46%;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    background: rgba(217,94,33);
    border-radius: .08rem;
}













