.transaction .header{
    width: 100%;
    height: .44rem;
    line-height: .48rem;
    background: #000033;
    font-size: .16rem;
    color: #e6e6e6;
    overflow: hidden;
    text-align: center;
}

.transaction .record{
    width: 100%;
    overflow: hidden;
    font-size: .14rem;
    color: #009bdb;
    text-align: center;
}
.transaction .list{
    width: 50%;
    height: .44rem;
    line-height: .44rem;
    border-bottom: 1px solid #7baedf;
}
.transaction .active{
    color: #00ffff;
    border-bottom: 2px solid #00ffff;
}

.transaction .main{
    width: 100%;
    font-size: .14rem;
    color: #e6e6e6;
}
.transaction .manage {
    position: relative;
    height: 70vh;
}
.transaction .date-box {
    width: 92vw;
    overflow-x: scroll;
}
.transaction .wrap-date{
    width: 130vw;
    height: .34rem;
    padding-top: .1rem;
    overflow: overlay;
}
.transaction .wrap-date li{
    width: 17.5vw;
    border-right: 1px solid #00ffff;
    text-align: center;
    display: inline-block;
}

.transaction .date-picker{
    width: 0.18rem;
    height: 0.18rem;
    position: absolute;
    top: .08rem;
    right: .08rem;
}
.transaction .date-picker img{
    width: 100%;
}

/* 票种，数量，金额，时间 */
.transaction .item{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    height: .4rem;
    line-height: .4rem;
    font-weight: bold;
}
.transaction .item-type{
    width: 28%;
    text-align: left;
}
.transaction .item-count{
    width: 22%;
    text-align: left;
    line-height: .42rem;
}
.transaction .item-amount{
    width: 25%;
    text-align: left;
    line-height: .42rem;
}
.transaction .item-date{
    width: 25%;
    text-align: center;
}
.transaction .content{
    background-color: rgba(0,0,0,0.5); 
    color: #e6e6e6;
    width: 100%;
    height: 100%;
}
.transaction .content div.container{
    border-bottom: 1px solid #fff;
    height: .44rem;
    padding: 0 5%;
    padding-top: .03rem;
   
}
.transaction .item-type-one{
    font-size: .1rem;
}
.transaction .item-type-two{
    font-size: .12rem;
    opacity: .8;
}

/* 交易分析 */
.transaction .manage:not(:first-child) {
    display: none;
}
.transaction .multi-selection {
    height: 0.88rem;
    background-color: rgba(0, 0, 0, .5);
}
.transaction .time {
    line-height: 0.44rem;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    display: flex;
}
/* .time:after{
    content: "";
    width: 40px;
    height: 20px;
    background: url("../img/微信图片_20180913102616.png") no-repeat center;
    position: absolute;
    right: 20px;
    top: 45%;
    pointer-events: none;
} */
.transaction .time>div {
    width: 50%;
    padding: 0 0.12rem;
}
.transaction .select-list {
    border: none;
    outline: none;
    width: 76%;
    height: 0.3rem;
    line-height: 0.4rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 0.12rem;
    background-color: rgba(0, 0, 0, .5);
    color: #e6e6e6;
}
.transaction .equipment {
    padding: 0 .12rem;
    background-color: rgba(0,0,0,0.5);   

}
.transaction .equipment-list {
    border: none;
    outline: none;
    width: 80%;
    height: 0.4rem;
    line-height: 0.4rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 0.12rem;
    background-color: rgba(0, 0, 0, .5);
    color: #e6e6e6;
}
.transaction .equipment-number{
    width: 100%;
    height: .34rem;
}
.transaction .time span {
    display: inline-block;
    color: #e6e6e6;
}
.transaction .equipment span {
    display: inline-block;
    color: #e6e6e6;
}
.transaction .equipment option {
    background-color:  rgba(0, 0, 0, .5);
    color: #e6e6e6;
    border:0;
}
.transaction .time option {
    background-color:  rgba(0, 0, 0, .5); 
    color: #e6e6e6;
    border:0;
}
.transaction .item-detail{
    width: 93.6%;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: .06rem;
    margin: .12rem auto;
}
.transaction .detail-top{
    padding: 0 .12rem;
    line-height: .35rem;
    border-bottom: 1px dashed rgba(0, 0, 0, .5);
    color: #ffffff;
    font-size: .14rem;
}
.transaction .detail-bottom{
    padding-top: .05rem;
    color: #ffffff;
    text-align: center;
    font-size: .14rem;
    overflow: hidden;
}
.transaction .detail-price{
    font-size: .5rem;
    color: #00ffff;
    text-align: center;
}
.transaction .detail-sale{
    width:50%;                                                                                                                                                                                        
}
.transaction .detail-count{
    width:50%;
}

